#logo{
    width: 100px;
    height: 80px;
}
#topRated{
    margin-right: 30px;
}
/* ---------SigIn Button Start------- */
#registerButton{
    background-color: tomato;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
}

#logInButton,#logoutButton{
    margin-left: 15px;
    background-color: tomato;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
}

#registerButton>a,#logInButton>a,#logoutButton>a{
    font-size: 17px;
    color: white;
}

#registerButton>a>i,#logInButton>a>i,#logoutButton>a>i{
    padding-left: 5px;
}

#registerButton>a:hover,#logInButton>a:hover,#logoutButton>a:hover{
    color: black;
}

#userProfile{
    margin-left: 15px;
    background-color: tomato;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    color: white;
}

#userProfile>i{
    padding-left: 5px;
}

#userProfile:hover{
    color: black;
}
/* ---------SigIn Button End------- */

/* ---------Register Form Start------- */
.registration-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #218838;
    border-color: #218838;
}

#registerCancelButton,#loginCancelButton{
    margin-left: 30px;
    font-size: 15px;
    border: 1px solid rgb(112, 111, 111);
}

#register,#loginButton{
    margin-left: 10px;
    font-size: 15px;
}

.form-label{
    font-size: 18px;
}
/* ---------Register Form End------- */

/* ------------Theater Start----------*/
#theaterImage{
    width: 250px;
    height: 150px;
    margin-right: 50px;
}

#viewButton{
    font-size: 17px;
}
/* ------------Theater End----------*/


.form-container{
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#genre,#description{
    font-size: 15px;
}

#createMovieButton,#cancelCreateMovie{
    font-size: 17px;
}

.book_button {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: tomato;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .book_button:hover {
    background-color: orangered;
    color: black;
  }

/* User Profile Start */
#profile{
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#profileImage{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    border: 5px solid #007bff;
}

.card-header{
    justify-content: center;
}

#updateProfile{
    background-color: #007bff;
    border: none;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

#file{
    display: none;
}

#profileLabel{
    margin-bottom: 0px;
}

#profileData{
    justify-content: center;
}

.profileData01,.profileData02{
    text-align: left;
}

.profileData02{
    padding-left: 40px;
}

#editPen{
    padding-left: 20px;
}
/* User Profile End */

/* Booking Start */
#booking{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-6 {
    width: 100%;
}

form{
    padding: 30px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#bookNow {
    background-color: #f33f3f;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #d33d3d;
}
/* Booking End */

/* Payment Start */
#payment{
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 40%;
    margin: auto;
}
.pay-container {
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.plan-details {
    margin-bottom: 20px;
}

h2 {
    color: #007bff;
}

h3 {
    color: #6c757d;
}

h1 {
    color: #343a40;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

button.pay-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.pay-button:hover {
    background-color: #218838;
}

/* Payment end */

#category{
    text-align: left;
    padding-left: 50px;
    list-style: none;
    font-size: 20px;
}

#category>li{
    margin-bottom: 15px;
    margin-top: 15px;
}

#profileImageSmall{
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
    border: 5px solid #007bff;
}

/* Home Start */
.home_label{
    color: black;
    font-weight: bold;
    font-size: 14px;
}
/* Home End */

/* Choosing DateTime Start */
#dateList {
    justify-content: center;
}

.dateItem {
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
}

.date {
    padding: 10px 15px;
    margin: 10px;
    background-color: tomato;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
    border-radius: 5px;
}

#book {
    padding: 10px 45px;
    margin: 10px;
    background-color: tomato;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
    border-radius: 5px;
}

#book>a {
    color: white;
}

.date.selected {
    background-color: orange;
}

.time {
    color: black;
}

.timelist {
    padding: 10px;
    border: 1px solid tomato;
    margin: 0px 20px;
}

.timelist.selected {
    background-color: tomato;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

.movie-container {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.movie-container select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    padding: 5px 15px;
    margin-bottom: 40px;
    font-size: 14px;
    border-radius: 5px;
}

#seatContainer {
    perspective: 1000px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;

}

.seat {
    text-align: center;
    padding-top: 8px;
    color: white;
    background-color: #444451;
    height: 36px;
    width: 45px;
    margin: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.selected {
    background-color: #00ff00;
    color: #ffffff;
}

.occupied {
    color: black;
    background-color: #fff;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(4) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    background: #fff;
    height: 70px;
    width: 70%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
    margin: 40px 0;
}

p.text span {
    color: #0081cb;
    font-weight: 600;
    box-sizing: content-box;
}

.credits a {
    color: #fff;
}

.dateclass {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.date-range {
    align-items: center;
    margin-top: 5px;
}

.dateItem {
    margin-right: 2px !important;
}


#selectedDataContainer {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.book-button {
    background-color: #28a745;
}

.buy-button {
    background-color: #007bff;
}
/* Choosing DateTime End */
